@import "tailwindcss";

@theme {
  --color-light-gray: #4b4c4d;
  --color-violet: #805ad5;
  --color-light-violet: #e9d5ff;
  --color-violet-900: #fbf6ff;
}

body {
  font-family: "Open Sans", sans-serif;
}
